body{
    background: fixed url(https://lemoncraft.ru/forum/uploads/monthly_2020_05/flex.gif.a1a219dccdcbc0801809659bbac639d2.gif)  center /900px no-repeat,url(https://avatanplus.com/files/resources/original/5772428a074be1559653eb2e.png) no-repeat center rgb(76, 15, 126);
    margin:  20px 15px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: auto;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgba(214, 18, 204,0.5);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(181, 20, 187, 0.5);
}
.header{
    display: flex;
    border:  10px solid transparent;
    background-color: rgba(148, 193, 236, 0.8);
    border-radius: 15px;
    margin-bottom: 10px;
}
.headerimage{
    margin: 10px;
    width: 300px;
    height: 220px;
    border-radius: 12px;
    box-shadow: 7px 5px 11px 4px rgb(0 0 255 / 20%)
}
.land{
    border:  10px solid transparent;
    background-color: rgba(221, 219, 210,0.8);
    border-radius: 10px;
}
.headertext{
    margin-left: 10px;
}
.headertext h2{
    font-style: italic;
}
.context{
    border:  10px solid transparent;
    background-color: rgba(204, 148, 236,0.8);
    border-radius: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.context ul{
    padding-left: 0rem;
    list-style-type: none;
    margin-bottom: 30px;
}
.context li{
    background-image: url(https://c.tenor.com/91wG1CAlaMMAAAAi/gachi-gachimuchi.gif);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    padding-left: 2rem;
}
.context h1{
margin-top: 10px;
}
.content{
    margin-left: 10px;
}
.backimage{
    position: fixed;
    top: 25%;
    right: 25%;
    width: 700px;
    height: 700px;
    background: no-repeat url(https://lemoncraft.ru/forum/uploads/monthly_2020_05/flex.gif.a1a219dccdcbc0801809659bbac639d2.gif) ;
}
.content a{
    padding-bottom: 40px;
    text-decoration: none;
    font-style: italic;
    text-align: center;
}
.form{
    margin: auto;
    display: block;
    padding-left: 10px;
    border:  10px solid transparent;
    border-radius: 15px;
    margin-bottom: 10px;
    background: rgba(139, 221, 214, 0.8);
}
.form h3{
    margin-bottom: 7px;
}
.form select{
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
}
.formally{
    /* position: relative;
    left: 40% ; */
    align-content  : center;
}
.formname{
    display: flex;
}
.input{
    text-align: left;
}
.input input{
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    user-select: none;
    outline: none;
}
.input:nth-last-of-type(1){
    margin-left: 40px;
}
.gotodungeon{
    margin-top: 15px;
    margin: auto;
    width: 300px;
    height: 60px;
    border: 3px solid;
    border-radius: 8px;
    background-color: black;
    color: rgb(153, 0, 255);
    font-size: 20px;
    font-weight: 650;
    cursor: pointer;
}
.gotodungeon:hover{
    background-color: white;
    opacity: 0.9;
}
.gotodungeon:active{
    background-color: silver;
}
.form textarea{
    width: 360px;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    user-select: none;
    outline: none;
    margin-bottom: 10px;
}